<h1>Your Listing Property</h1>
<% @properties.each do |property|%>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= property.name %></h5>
            <h6 class="card-title"><%= "#{property.address.street_number} #{property.address.street_name} #{property.address.suburb} #{property.address.postcode}" %></h6>
            <p class="card-text"><%= property.description %></p>
            <%= link_to "More Info...", property, class: "btn btn-primary"%>
        </div>
    </div>
<% end %> 
