<% if @properties.length == 0 %>
    <h1>You have no property for listing yet.</h1>
<% else %>
    <h1>My Listed Properties</h1>
    <div class='container'>
        <div class='row'>
            <% @properties.each do |property|%>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= property.name %></h5>
                        <h6 class="card-title"><%= "#{property.address.street_number} #{property.address.street_name} #{property.address.suburb} #{property.address.postcode}" %></h6>
                        <p class="card-text"><%= property.description %></p>
                        <%= link_to "More Info...", property, class: "btn btn-secondary"%>
                        <% if user_signed_in? %>
                            <% if property.owner_id == current_user.id %>
                                <% if property.has_pending_bookings? %>
                                    <p> Pending bookings - click more details to see</p>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% end %>

