<%= render 'propertyDetail' %>
        <% if user_signed_in? %>
            <% if @property.owner_id == current_user.id %>
                <% @property.bookings.each do |booking| %>
                    <% if booking.accepted == "pending" %>
                        <div>
                            <p> <%= booking.traveller.first_name%> booked your property <%= link_to 'Accept', approve_book_property_path(booking.id), method: 'post' %> <%= link_to 'Deny', deny_book_property_path(booking.id), method: 'post'%> </p>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        <% end %> 